
*.vsidx
Server/ScalePuppiesApi/obj/Debug/net8.0/ScalePuppiesApi.GeneratedMSBuildEditorConfig.editorconfig
Server/ScalePuppiesApi/obj/Debug/net8.0/ScalePuppiesApi.AssemblyInfo.cs
Server/ScalePuppiesApi/obj/Debug/net8.0/ScalePuppiesApi.AssemblyInfoInputs.cache
Server/ScalePuppiesApi/obj/Debug/net8.0/ScalePuppiesApi.assets.cache
Server/ScalePuppiesApi/obj/Debug/net8.0/ScalePuppiesApi.csproj.AssemblyReference.cache
Server/ScalePuppiesApi/.vs/ScalePuppiesApi/v17/.suo
Server/ScalePuppiesApi/.vs/ScalePuppiesApi/v17/.suo
Server/ScalePuppiesApi/.vs/ScalePuppiesApi/v17/DocumentLayout.backup.json
Server/ScalePuppiesApi/.vs/ScalePuppiesApi/v17/DocumentLayout.json
Server/ScalePuppiesApi/bin/Debug/net8.0/ScalePuppiesApi.dll
