.registerBox{
    display:grid;
    justify-content:center;
    align-items:center;
    background-color:#D0D5D2;
    height:525px;
    width: 350px;
    margin-top: 50px;
    box-shadow: 5px 5px gray;
    z-index: 99;
}

.registerForm{
    display: grid;
    background-color:#FFFFFF;
    height: 400px;
    margin: -75px 15px 25px 15px;
    padding: 30px;
    border: #000000;
    border-style: solid;
    z-index: 1;
}


.logInFields{
    display:flex;
    flex-direction:column;
}

.farmNameLabel{
    display:block;
}

.farmName{
    flex:2;
    margin: 0px;
}

.usernameLabel{
    display:block;
    vertical-align: top;
}

.username{
    flex:4;
    margin: 0px;

}

.passwordLabel{
    display:block;
    vertical-align: top;
}

.password{
    flex:6;
    margin: 0px;

}

.submit{
    margin: 50px auto;
    padding: 5px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backButton{
    margin: 30px auto;
    padding: 5px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    justify-self:center;
}